* {
  font-family: '-Gill Sans', '-Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: monospace;
}

a.nolink {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}

-a:hover, button:hover, .clickable:hover {
  -outline: 3px solid #f00 !important;
  box-shadow: -3px 3px 1px #000;
  border-radius: 7px;
  cursor: pointer;
}
a:active, button:active, .clickable:active {
  -outline: 3px solid #f00 !important;
  box-shadow: 0 0 3px #000;
  -border-radius: 8px;
}

button {
  background: inherit;
  border-radius: 0.5em;
}
button:active {
  box-shadow: 0;
}
button:focus {
  outline: 0;
}

.no-select, .clickable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

hr {
  border: none;
}

code pre {
  background: #123;
  color: #eee;
  overflow: auto;

  border: 3px solid #444;
  border-radius: 10px;
  font-family: monospace;

  min-height: 10em;
}

/* switching screen size */
.content {
  max-width: 240px;
  margin: 0 auto;
}
.screen_big, .screen_medium {
  display: none;
}
@media (min-width: 430px) {
  .content {
    max-width: 360px;
    margin: 0 auto;
  }
  .screen_medium {
    display: inline;
    display: initial;
  }
  .screen_small {
    display: none;
  }
}
@media (min-width: 640px) {
  .content {
    max-width: none;
    margin: 0 15%;
  }
  .screen_big {
    display: inline;
    display: initial;
  }
}
/* end */


/* scrollbars */
::-webkit-scrollbar {
  width: 1em;
  height: 1em;
  background: transparent;
}
::-webkit-scrollbar-track {
  border: 1px solid #123;
  background-color: inherit;
  border-radius: 1em;
}
::-webkit-scrollbar-thumb {
  background-color: #678;
  border-radius: 1em;
  border: 2px solid #123;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #fe5;
}
/* end scrollbars */

/* selection */
::selection {
  background-color: #fe5;
  color: #111;
}
/* end selection */