:root {
  --const-dark: #001;
  --const-light: #eee;
  --const-mid: #a99;
  --const-active: #f07;

  --color-front: var(--const-dark);
  --color-back: var(--const-light);
  --color-mid: var(--const-mid);
  --color-clickable: var(--const-active);
}

html,
body{
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', Geneva, Verdana, sans-serif;
  color: var(--color-front);
  background: var(--color-back);
  position: relative;
}

-body {
  background-color: linear-gradient(0, var(--color-back) 0%, var(--color-front) 100%);
  opacity: 0.8;
  background-image:
    linear-gradient(30deg, #999999 12%, transparent 12.5%, transparent 87%, #999999 87.5%, #999999),
    linear-gradient(150deg, #999999 12%, transparent 12.5%, transparent 87%, #999999 87.5%, #999999),
    linear-gradient(30deg, #999999 12%, transparent 12.5%, transparent 87%, #999999 87.5%, #999999),
    linear-gradient(150deg, #999999 12%, transparent 12.5%, transparent 87%, #999999 87.5%, #999999),
    linear-gradient(60deg, #99999977 25%, transparent 25.5%, transparent 75%, #99999977 75%, #99999977),
    linear-gradient(60deg, #99999977 25%, transparent 25.5%, transparent 75%, #99999977 75%, #99999977);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, monospace;
}

.clickable {
  cursor: pointer;
}

/* layout */
.full-height {
  height: 100vh;
}

.container > * {
  max-width: 275px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  background: none;
}

.headerheight {
  height: 3rem;
}

.brand {
  display: flex;
  align-items: center
}
/*
.double .half {
  height: 50%;
}
*/
/* cosmetic */

.bg-mid {
  background: var(--color-mid);
}

.bigtext {
  font-size: 6em;
}

.leaning {
  transform: rotate(-11deg);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
}

.brand .sitename {
  font-size: 1rem;
  text-shadow: 0 0 4px --color-back,
    0 0 4px --color-back,
    0 0 4px --color-back,
    0 0 4px --color-back,
    0 0 4px --color-back;
}

.brand .logo {
  fill: #17FF66;
  stroke: #000;
  stroke: var(--color-front);
}
.brand .neon.logo {
  fill: var(--color-front);
  stroke: #0000;
  -stroke: var(--color-back);
  height: 2.6rem;
}

.img.floating {
  height: 40vh;
  /*
  background-image: url('../public/img/photos/desk\ 2.png');
  background-repeat: no-repeat;
  background-position: 30% 40vh;
  background-size: 40vh 40vh;
  height: 50vh;
  */
}

/* responsive */


@media screen and (min-width: 550px) {
  /* medium ----------------------------------------------------*/
  .container > * {
    max-width: 90%;
  }

  .double {
    display: flex;
    align-items: stretch;
  }

  .double .half {
    max-width: 50%;
    flex: 1;
  }

  .headerheight {
    height: 5rem;
  }

  .brand .logo {
    height: 3rem;
  }

  .brand .sitename {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1050px) {
  /* large ----------------------------------------------------*/
  .container > * {
    max-width: 80%;
  }
}

/* animations -------------------------------------------------*/

@keyframes neon {
  0% {
    fill: #17FF66;
  }
  25% {
    fill: #05f;
  }
  50% {
    fill: #f0a;
  }
  75% {
    fill: #fc0;
  }
  100% {
    fill: #17ff66;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.brand:hover .neon.logo {
  fill: var(--color-back);
  animation: 5s linear neon infinite,
    0.2s shake 2;
  stroke: var(--color-front);
}
